.name {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .votes {
    margin-right: 10px;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .voteButton {
    padding: 5px 10px;
    font-size: 1em;
    color: white;
    background-color: #82c9a7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .voteButton:hover {
    background-color: #5b9279;
  }
  
  .deleteButton {
    padding: 5px 10px;
    font-size: 1em;
    color: white;
    background-color: #e57373;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .deleteButton:hover {
    background-color: #c62828;
  }
  