.summaryContainer {
  margin-top: 20px;
  padding: 10px;
  background-color: #d4edda;
  border: 1px solid #a9dfbf;
  border-radius: 5px;
}

.summaryText {
  font-size: 1.5em;
  color: #5b9279;
  font-weight: bold;
}
